[submodule "ohmyzsh/oh-my-zsh"]
	path = ohmyzsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "roles/go"]
	path = roles/go
	url = https://gitlab.com/sebohe/go-ansible
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = http://git.suckless.org/dwm
[submodule "alacritty/alacritty"]
	path = alacritty/alacritty
	url = https://github.com/jwilm/alacritty
[submodule "suckless/slstatus"]
	path = suckless/slstatus
	url = https://git.suckless.org/slstatus
[submodule "suckless/rust-dwm-status"]
	path = suckless/rust-dwm-status
	url = https://github.com/pierrechevalier83/rust-dwm-status
