[user]
  email = sebasheston@protonmail.com
  name = Sebastian Bolanos
  signingkey = 8FD19580EB2B286C8FEA5407B7E9320FDC065EA1
[core]
  edit = vim
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  diff = true
  status = true
  branch = true
  interactive = true
	ui = true
  pager = true
[pager]
  branch = false
  log = true
[merge]
  tool = meld
[diff]
  guitool = meld
[commit]
  #gpgsign = true
[credential]
	username = sebohe
	helper = store
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	ap = -c interactive.diffFilter=\"diff-so-fancy --color-words\" add -p
