alias gs='git status'
alias gd='git diff'
alias gc='git commit'
alias gcv='git commit --verbose'
alias gsub='git submodule'
alias grep='grep --color=auto'
alias disconnect='nmcli d disconnect wlp2s0'
alias ls='ls --color=auto'
alias pp='populus'
alias connect='nmcli d w c'
alias ppc='populus compile'
alias v='vim '
alias dls='docker service ls'
alias drm='docker service rm '
alias todo='topydo -t ~/todo.txt'
alias dsl='docker service logs -f '
alias gls="git log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %s %Creset' --abbrev-commit --branches --remotes --tags -10 && echo \"=======\" && git status -s"
alias cat=bat
