alias gs='git status'
alias gd='git diff'
alias gc='git commit'
alias gsub='git submodule'
alias grep='grep --color=auto'
alias disconnect='nmcli d disconnect wlp2s0'
alias ls='ls --color=auto'
alias pp='populus'
#alias vim='nvim'
alias connect='nmcli d w c'
alias ppc='populus compile'
