alias grep='grep --color=auto'
alias disconnect='nmcli d disconnect wlp2s0'
alias ls='lsd'
alias connect='nmcli d w c'
alias v='vim '
alias dls='docker service ls'
alias drm='docker service rm '
alias dsl='docker service logs -f '
alias gls="git log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %s %Creset' --abbrev-commit --branches --remotes --tags -10 && echo \"=======\" && git status -s"
alias dlf='docker service logs -f --raw --tail 100'
alias dlft='docker service logs -f --raw mobile_api_tester --tail 500'
alias n='nvim '
alias t='task list'
alias txn='seth block latest | grep "transactions\ " | cut -d\[ -f2  | tr -d \"\]'
alias cal='task calendar'
alias ta='function _ta(){tmux attach -t $1};_ta'
alias tl='tmux list-sessions'
alias p='pass '
